.copy_right_footer{
    position: fixed;
    font-size:20px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    width:100%;
    background-color:rgb(138, 138, 138);
    line-height:3;
    bottom:0;
    text-shadow: 5px 5px 5px rgb(140, 140, 140);
}


h2{
    font-size:40px;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
    text-align: center;
    color:rgb(0, 0, 0);
    text-align: center;
}

p{
    font-size:25px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

.startBtn{
    margin-top:30px;
}

body{
    background-color:#d9ddcf;
}

.header_div{
    background-color:rgb(79, 174, 79);
    color:rgb(255, 255, 255);
}